flask
flask-login
flask-bcrypt
python-dotenv
requests
gunicorn
google-auth
google-auth-oauthlib
requests-oauthlib
flask-mail
oauthlib
six
cryptography
pyOpenSSL
certifi
idna
urllib3
itsdangerous
Jinja2
MarkupSafe
Werkzeug
blinker
click
greenlet
typing_extensions
flask-talisman
flask-wtf
pymongo
